body {
  background-color: purple;
}
.heading {
  background-color: blueviolet;
  
}
.main {
  margin: .3rem;
  background-color:purple ;
}
.row {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.card {
  background-color:white ;
}